@using Assistant.Desktop.Services
@using Microsoft.AspNetCore.Components.Routing
@using Assistant.Desktop.Shared
@using Assistant.Desktop.State
@using Microsoft.Graph.Models
@using Microsoft.Identity.Client
@inject IAuthService AuthService
@inject IGraphClientFactory GraphClientFactory 

<FluentDesignSystemProvider>
    <FluentDesignTheme Mode="@AppState.CurrentThemeMode" StorageName="theme">
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
                <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <FluentCard>
                        <p>Sorry, there's nothing at this address.</p>
                    </FluentCard>
                </LayoutView>
            </NotFound>
        </Router>
    </FluentDesignTheme>
</FluentDesignSystemProvider>

@code
{
    [Inject]
    private AppState AppState { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        AppState.OnChange += StateHasChanged;
        
        if (TokenCacheHelper.CanTryAutoLogin())
        {
            AuthenticationResult? result = await AuthService.SignInUserAsync();
            if (result != null)
            {
                User? userInfo = await GraphClientFactory.GetGraphClient().Me.GetAsync();
                if (userInfo != null)
                {
                    AppState.SetUserState(userInfo.DisplayName ?? "N/A", result.Account.Username);
                }
            }
        }
        
    }
}
